<!DOCTYPE html>
<html id="page">
	<!--
		https://infinite-happiness.github.io/test/
		https://github.com/infinite-happiness/test
		
		https://htmx.org/docs/#introduction
		https://www.cirrus-ui.com/elements/modal
		https://fontawesome.com/v5/docs/web/style/animate
	-->
	<head>
		<title>Getting Started with Cirrus</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
		<link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
		<!--<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" ></script>-->
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<style>
			.links-black a{color:black;}
			.orange-gradient{
			background: rgb(255,165,0);
			background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(240,230,140,1) 50%, rgba(255,215,0,1) 100%);
			}
		</style>
		<script>
			// Get the URL fragment identifier (anchor link ID)
			const fragmentId = window.location.hash.substr(1);
			
			// Check if the fragment ID is defined
			if (fragmentId) {
				console.log(fragmentId);
				// Find all anchor links with a similar ID
				//const links = document.querySelectorAll('a[href*="#' + fragmentId + '-button"]');
				// Click the first anchor link found
				//links[0].click();
				const link = document.getElementById(fragmentId + '-button');
				link.click();
				
			}
		</script>
	</head>
	<body>
		
		<div class="header header-fixed unselectable header-animated">
			<div class="header-brand">
				<div class="nav-item no-hover">
					<h6 class="title">Infinite Happiness</h6>
				</div>
				<div class="nav-item nav-btn" id="header-btn"> <span></span> <span></span> <span></span> </div>
			</div>
		</div>
		<section class="section">
			<div class="hero fullscreen orange-gradient">
				<div class="hero-body">
					<div class="content">
						<div class="text-center">
							<h1>🙏 Ánanda Márga</h1>
							<h2>A Complete Socio-Spiritual Path and Lifestyle</h2>
							<h6>Átmamokśárthaḿ Jagaddhitáya Ca - Self-Realization and the Welfare of the Universe</h6>
							<div class="modal modal-large modal-animated--zoom-in" id="introduction">
								<a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
								<div class="modal-content" role="document">
									<div class="modal-header">
							            <a href="#_"><span class="icon btn-close u-pull-right">
											<i class="fa-wrapper fa fa-times"></i>
										</span></a>
										</div>
										<div id="modal-body">
											<div class="fa-3x">
											<i class="fas fa-spinner fa-pulse"></i>
										</div>
									</div>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="content">
			<div class="grid grid-cols-3 u-gap-2 links-black">
				<!-- todo: hx-trigger load works for loading modal on page load, but it would require modal code for each a (button), maybe solve with old js library that creates custom html tags -->
				<a id="introduction-button" href="#introduction" hx-get="introduction.html" hx-target="#modal-body" xhx-trigger="load">
					<div>
						<h2>Introduction</h2>
						<img src="https://anandamarga.hemsida.eu/wp-content/uploads/2023/11/Rainbow-Divine-Mandala-Flower.jpg">
						Ánanda Márga is the socio-spiritual path of bliss — infinite happiness, targeting the main problems of modern humanity.
					</div>
				</a>
				
				<a id="philosophy-button" href="#philosophy" hx-get="philosophy.html" hx-target="#modal-body">
					<div>
						<h2>Philosophy</h2>
						<img src="https://anandamarga.hemsida.eu/wp-content/uploads/2023/11/Rainbow-Divine-Mandala-Flower.jpg">
						Ánanda Márga has a vast philosophy, covering everything from spirituality, creation, evolution, economy, feminism, futurism, humanism, universalism and justice.
					</div>
				</a>
			</div>
		</section>
		
	</body>
</html>																								